@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Monoton&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #fbfaf7;
  --primary-text-color: #252525;
  --secondary-text-color: #807c77;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* For Firefox Browser */
  scrollbar-width: thin;
  scrollbar-color: currentColor #fff;
}

/* For Chrome, EDGE, Opera, Others */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--theme-color);
  font-family: "Josefin Sans", sans-serif;
}

.font-monoton {
  font-family: "Monoton", cursive;
}

.p-checkbox-box {
  border: 2px solid black;
}

.p-slider-handle {
  top: -6px;
  background: rgb(6, 182, 212);
}

.rootclass {
  padding-left: 10%;
  padding-right: 10%;
}

/* Media Query for screens 600px and below */
@media only screen and (max-width: 480px) {
  .rootclass {
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* Media Query for screens 600px and below */
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .rootclass {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .rootclass {
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Media Query for screens 992px and below */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .rootclass {
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Media Query for screens 1200px and below */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .rootclass {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}